################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleApp.API/v15
/SampleApp.API/obj
/.vs/ASP.NETCore.Swagger/v15
/.vs
/WebAPICore.Swagger/bin
/WebAPICore.Swagger/obj
